.marquee {
  position: fixed;
  opacity: 0.8;
  display: flex;
  animation: marquee 150s linear infinite running;

  .clouds {
    width: 100%;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
