@font-face {
  font-family: minecraftFontItalic;
  src: url("./minecraft_font/MinecraftBoldItalic-1y1e.otf");
}
@font-face {
  font-family: minecraftFontRegular;
  src: url("./minecraft_font/MinecraftRegular-Bmg3.otf");
}
@font-face {
  font-family: minecraftFontBold;
  src: url("./minecraft_font/MinecraftBold-nMK1.otf");
}
@font-face {
  font-family: minecraftTitleFont;
  src: url("./minecraft_font/MinecraftEvenings-RBao.ttf");
}

/* Reset */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --container_color: #ffc878;
  --menu_color: #ffc878;
  --menu_dark: #ad813e;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'DotGothic16', sans-serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: white;
  letter-spacing: 1.5px;
  width: 100vw;
  height: 100vh;
  cursor: url(../img/cursors/default.cur), auto;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.cursor-default {
  cursor: url(../img/cursors/default.cur), auto;
}

.cursor-axe{
  cursor: url(../img/cursors/axe.cur), auto;
}

.cursor-shovel{
  cursor: url(../img/cursors/shovel.cur), auto;
}

.cursor-pickaxe{
  cursor: url(../img/cursors/pickaxe.cur), auto;
}

.cursor-hoe{
  cursor: url(../img/cursors/hoe.cur), auto;
}

.chosen {
  border: 3px solid #000000;
  border-radius: 5px;
  opacity: 1;
}

.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

#text-container {
  min-height: 30vh;
}

#instructions {
  /* font-family: minecraftTitleFont;
   */
  font-family: 'DotGothic16', sans-serif;
  position: fixed;
  width: 500px;
  top: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 5px;
  z-index: 100;
  
}

#instructions h4 {
  margin-bottom: 10px;
}

.toolname {
  color: #9fb60f;
}

.material {
  color: #c4661a;
}

/* #wrapper-1 {
  background: url(https://wallpapercave.com/wp/wp5961273.jpg) no-repeat center center / cover;
} */

.sub-logo 
{
  font-size: 30px;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
  overflow: hidden;
}

#background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the video covers the whole background */
  transform: translate(-50%, -50%);
}

#wrapper-2 {
  background-image: url("https://assets.codepen.io/7237686/bg.png?format=auto");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
  flex-direction: row;
  align-items: stretch;
  position: relative;
  overflow: hidden;
}

.menu-buttons{
  display: flex;
  min-width: 200px;
  flex-direction: column;
  justify-content: space-between;
  background-color: #333;
  z-index: 130;
}

.menu-buttons >*{
  flex: 1;
  border-radius: 1px;
  border-top: 3px solid #010101;
  border-right: 3px solid #010101;
}

.back {
  transition: .3s;
  color: #fff;
  opacity: 0.6;
  cursor: url(../img/cursors/pointer.cur), auto;
}

.back :hover{
  opacity: 1;
  color: white;
  border: none;
}

.back-container{
  max-height: 70px;
  display: flex;
  justify-content: center;
}

.inventory{
  background: var(--menu_color);
  min-height: 50vh;
  display: flex;
  flex-direction:row;
  align-items: flex-start;
}

.inv {
  margin: 15px;
  font-size: 24px;
  border: none;
  cursor: url(../img/cursors/pointer.cur), auto;
}

.inv:hover{
  text-shadow: -1px 0 white,
  0 1px white,
  1px 0 white,
  0 -1px white;
  border: none;
  animation: pop 0.3s linear 1;
}

@keyframes pop {
  50% {
    transform: scale(1.4);
  }
}

.inv-dirt{  background: url(../img/inv-dirt.png) no-repeat center center / cover;}
.inv-brick{  background: url(../img/inv-brick.png) no-repeat center center / cover;}
.inv-coal{  background: url(../img/inv-coal.png) no-repeat center center / cover;}
.inv-ice{  background: url(../img/inv-ice.png) no-repeat center center / cover;}
.inv-gold{  background: url(../img/inv-gold.png) no-repeat center center / cover;}
.inv-grass{  background: url(../img/inv-grass.png) no-repeat center center / cover;}
.inv-diamond{  background: url(../img/inv-diamond.png) no-repeat center center / cover;}
.inv-glass{  background: url(../img/inv-glass.png) no-repeat center center / cover;}
.inv-sand{  background: url(../img/inv-sand.png) no-repeat center center / cover;}
.inv-snow{  background: url(../img/inv-snow.png) no-repeat center center / cover;}
.inv-stone{  background: url(../img/inv-stone.png) no-repeat center center / cover;}
.inv-wood{  background: url(../img/inv-wood.png) no-repeat center center / cover;}
.inv-silver{  background: url(../img/inv-silver.png) no-repeat center center / cover;}

/* tools */

.tools {
  font-size: large;
  background: var(--menu_color);
  max-height: 15vh;
  cursor: url(../img/cursors/pointer.cur), auto;
}

.axe, .pickaxe, .shovel, .hoe, .inv{
  width: 60px;
  height: 60px;
  background-color: transparent;
}

.axe, .pickaxe, .shovel, .hoe {
  background-color: transparent;
  cursor: url(../img/cursors/pointer.cur), auto;
}

.axe{  background: url(../img/axe.png) no-repeat center center / cover;}
.pickaxe{  background: url(../img/pickaxe.png) no-repeat center center / cover;}
.shovel{  background: url(../img/shovel.png) no-repeat center center / cover;}
.hoe{  background: url(../img/hoe.png) no-repeat center center / cover;}
.tool-container, .item-container{  display: flex;}
.tool-container p, .item-container p{ 
  position: absolute;
  align-self: flex-end;
  margin-left: 25px;
}

.tool-container p {
  margin-left: 5px;
  margin-top: 50px;
}

.tool{
  background-color: transparent;
  border: none;
  cursor: url(../img/cursors/pointer.cur), auto;
}

.cursor-default{
  cursor: url(../img/cursors/default.cur), auto;
}

.cursor-axe{
  cursor: url(../img/cursors/axe.cur), auto;
}

.cursor-shovel{
  cursor: url(../img/cursors/shovel.cur), auto;
}

.cursor-pickaxe{
  cursor: url(../img/cursors/pickaxe.cur), auto;
}

.cursor-hoe{
  cursor: url(../img/cursors/hoe.cur), auto;
}

.reset-container{
  display: flex;
  justify-content: center;
  max-height: 100px;
  background: var(--menu_color);
}

.fa-refresh {
  border-radius: 50%;
  border: none;
  background-color: transparent;
  cursor: url(../img/cursors/pointer.cur), auto;
  outline: none;
}

.rst {
  -webkit-animation: spin 0.2s ease-in-out;
  -moz-animation: spin 0.2s ease-in-out;
  animation: spin 0.2s ease-in-out;
  animation-fill-mode: forwards;
  cursor: url(../img/cursors/pointer.cur), auto;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.tools-cols {
  border-top: 3px solid #010101;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex: 1;
}

.tools{
  max-height: 16vh;
}

.tool-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: var(--menu_color);
  padding: 5px;
  margin: 10px;
  cursor: url(../img/cursors/pointer.cur), auto;
}

.tool-container button:hover{  
  border: none;
  animation: pop 0.3s linear 1;
}

.title{
  padding: 0px 0px 0px 20px;
  font-size: 20px;
  max-height: 30px;
  background: var(--menu_dark);
  margin: 0 px 10px;
}

.music{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex: 0;
}

.music-buttons{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: var(--menu_color);
  padding: 20px;
  z-index: 130;
  width: 100%;
}

.music-buttons button{
  height: 20px;
  width: 20px;
  cursor: url(../img/cursors/pointer.cur), auto;
}

.reset{
  color: #fff;
}

/* screen game */
.game-screen {
  position: relative;
  width: 100%;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  z-index: 100;
  cursor: url(../img/cursors/default.cur), auto;
}

/* default box = sky */
.box{
  color: white;
  background-color: transparent;
  border: none;
  width: 4%;
  height: 5%;
  transform: scale(0);
  transition: 0.3s;
  /* cursor: url(../img/cursors/default.cur), auto; */
}
.box.animate{
  transform: scale(1);
}

.box:hover{
  box-shadow: 0 0 5px #fff;
  border-radius: 3px;
  border: 1px solid white;
}

.box:focus {
  outline: none;
}

/* special tiles */

.ground {  background: url(../img/gnd.jpg) no-repeat center center / cover;}
.wood{  background: url(../img/wood.jpg) no-repeat center center / cover;}
.water{  background: url(../img/water.jpg) no-repeat center center / cover;}
.metal{  background: url(../img/metal.jpg) no-repeat center center / cover;}
.lava{  background: url(../img/lava.jpg) no-repeat center center / cover;}
.ice{  background: url(../img/ice.jpg) no-repeat center center / cover;}
.leaves{  background: url(../img/leaves.jpg) no-repeat center center / cover;}
.grass{  background: url(../img/grass.jpg) no-repeat top center / cover;}
.bush{  background: url(../img/bush.jpg) no-repeat top center / cover;}
.gold{  background: url(../img/gold.jpg) no-repeat top center / cover;}
.silver{  background: url(../img/silver.jpg) no-repeat top center / cover;}
.diamond{  background: url(../img/diamond.jpg) no-repeat top center / cover;}
.stone{  background: url(../img/stone.jpg) no-repeat top center / cover;}

