@font-face {
  font-family: minecraftFontItalic;
  src: url("./minecraft_font/MinecraftBoldItalic-1y1e.otf");
}
@font-face {
  font-family: minecraftFontRegular;
  src: url("./minecraft_font/MinecraftRegular-Bmg3.otf");
}
@font-face {
  font-family: minecraftFontBold;
  src: url("./minecraft_font/MinecraftBold-nMK1.otf");
}
@font-face {
  font-family: minecraftTitleFont;
  src: url("./minecraft_font/MinecraftEvenings-RBao.ttf");
}
/* Reset */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --container_color: #ffc878;
  --menu_color: #ffc878;
  --menu_dark: #775201;
  --initial-rotation: -60deg;
}
/* Change cursor to pointer when hovering over video controls */
video::-webkit-media-controls-play-button,
video::-webkit-media-controls-volume-slider,
video::-webkit-media-controls-mute-button,
video::-webkit-media-controls-timeline,
video::-webkit-media-controls-current-time-display,
video::-webkit-media-controls-time-remaining-display,
video::-webkit-media-controls-seek-back-button,
video::-webkit-media-controls-seek-forward-button,
video::-webkit-media-controls-fullscreen-button {
  cursor: url(../assets/img/cursors/pointer.cur), auto;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'DotGothic16', sans-serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: white;
  letter-spacing: 1.5px;
  width: 100vw;
  height: 100vh;
  cursor: url(../assets/img/cursors/default.cur), auto;
  overflow: hidden; /* Prevent scrollbars */
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.cursor-default {
  cursor: url(../assets/img/cursors/default.cur), auto;
}
.cursor-axe{
  cursor: url(../img/cursors/axe.cur), auto;
}
.cursor-shovel{
  cursor: url(../img/cursors/shovel.cur), auto;
}
.cursor-pickaxe{
  cursor: url(../img/cursors/pickaxe.cur), auto;
}
.cursor-hoe{
  cursor: url(../img/cursors/hoe.cur), auto;
}
.chosen {
  border: 3px solid #000000;
  border-radius: 5px;
  opacity: 1;
}
.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
#text-container {
  min-height: 30vh;
}
#instructions {
  font-family: 'DotGothic16', sans-serif;
  position: fixed;
  width: 500px;
  top: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.8);
  padding: 10px;
  border-radius: 5px;
  z-index: 100;
  padding-left: 50px;
}
.window-content p {
  margin-bottom: 10px;
  text-indent: -2em;
}
.toolname {
  color: #9fb60f;
}
.material {
  color: #c4661a;
}
/* #wrapper-1 {
  background: url(https://wallpapercave.com/wp/wp5961273.jpg) no-repeat center center / cover;
}
*/
.sub-logo {
  font-size: 30px;
}
.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}
#background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
 /* Ensure the video covers the whole background */
  transform: translate(-50%, -50%);
}
#wrapper-2 {
  background-image: url("https://assets.codepen.io/7237686/bg.png?format=auto");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
  flex-direction: row;
  align-items: stretch;
  position: relative;
  overflow: hidden;
}
.menu-buttons{
  display: flex;
  min-width: 200px;
  flex-direction: column;
  justify-content: space-between;
  background-color: #333;
  z-index: 130;
  cursor: url(../assets/img/cursors/default.cur), auto;
}
.menu-buttons >*{
  flex: 1;
  border-radius: 1px;
  border-top: 3px solid #010101;
  border-right: 3px solid #010101;
}
.back {
  transition: .3s;
  color: #fff;
  opacity: 0.6;
  cursor: url(../assets/img/cursors/pointer.cur), auto;
}
.back :hover{
  opacity: 1;
  color: white;
  border: none;
}
.back-container{
  max-height: 70px;
  display: flex;
  justify-content: center;
  background: var(--menu_color);
}
.inventory{
  background: var(--menu_color);
  min-height: 50vh;
  display: flex;
  flex-direction:row;
  align-items: flex-start;
}
.inv {
  margin: 15px;
  font-size: 24px;
  border: none;
  cursor: url(../assets/img/cursors/pointer.cur), auto;
}
.inv:hover{
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  border: none;
  animation: pop 0.3s linear 1;
}
.inv-dirt{
  background: url(../assets/img/inventory/inv-dirt.png) no-repeat center center / cover;
}
.inv-brick{
  background: url(../assets/img/inventory/inv-brick.png) no-repeat center center / cover;
}
.inv-coal{
  background: url(../assets/img/inventory/inv-coal.png) no-repeat center center / cover;
}
.inv-ice{
  background: url(../assets/img/inventory/inv-ice.png) no-repeat center center / cover;
}
.inv-gold{
  background: url(../assets/img/inventory/inv-gold.png) no-repeat center center / cover;
}
.inv-grass{
  background: url(../assets/img/inventory/inv-grass.png) no-repeat center center / cover;
}
.inv-diamond{
  background: url(../assets/img/inventory/inv-diamond.png) no-repeat center center / cover;
}
.inv-glass{
  background: url(../assets/img/inventory/inv-glass.png) no-repeat center center / cover;
}
.inv-sand{
  background: url(../assets/img/inventory/inv-sand.png) no-repeat center center / cover;
}
.inv-snow{
  background: url(../assets/img/inventory/inv-snow.png) no-repeat center center / cover;
}
.inv-stone{
  background: url(../assets/img/inventory/inv-stone.png) no-repeat center center / cover;
}
.inv-wood{
  background: url(../assets/img/inventory/inv-wood.png) no-repeat center center / cover;
}
.inv-silver{
  background: url(../assets/img/inventory/inv-silver.png) no-repeat center center / cover;
}
/* tools */
.tools {
  font-size: large;
  background: var(--menu_color);
  max-height: 15vh;
  min-height: 250px;
  cursor: url(../assets/img/cursors/pointer.cur), auto;
}
.axe, .pickaxe, .shovel, .hoe, .inv{
  width: 60px;
  height: 60px;
  background-color: transparent;
}
.axe, .pickaxe, .shovel, .hoe {
  background-color: transparent;
  cursor: url(../assets/img/cursors/pointer.cur), auto;
}
.axe{
  background: url(../assets/img/tools/axe.png) no-repeat center center / cover;
}
.pickaxe{
  background: url(../assets/img/tools/pickaxe.png) no-repeat center center / cover;
}
.shovel{
  background: url(../assets/img/tools/shovel.png) no-repeat center center / cover;
}
.hoe{
  background: url(../assets/img/tools/hoe.png) no-repeat center center / cover;
}
.sword{
  background: url(../assets/img/tools/sword.png) no-repeat center center / cover;
}
.tool-container, .item-container{
  display: flex;
}
.item-container p{
  position: absolute;
  align-self: flex-end;
  margin-left: 25px;
}
.tool-container p {
  position: absolute;
  align-self: flex-end;
  margin-top: 75px;
}
.tool{
  background-color: rgb(104, 104, 104);
  cursor: url(../assets/img/cursors/pointer.cur), auto;
  margin-bottom: 10px;
}
.cursor-default{
  cursor: url(../assets/img/cursors/default.cur), auto;
}
.cursor-axe{
  cursor: url(../img/cursors/axe.cur), auto;
}
.cursor-shovel{
  cursor: url(../img/cursors/shovel.cur), auto;
}
.cursor-pickaxe{
  cursor: url(../img/cursors/pickaxe.cur), auto;
}
.cursor-hoe{
  cursor: url(../img/cursors/hoe.cur), auto;
}
.reset-container{
  display: flex;
  justify-content: center;
  max-height: 100px;
  background: var(--menu_color);
  cursor: url(../assets/img/cursors/default.cur), auto;
}
.fa-refresh {
  border-radius: 50%;
  color: #fff;
  height: 50px;
  width: 50px;
  margin-top: 10px;
  border: 2px solid var(--menu_dark);
  background-color: goldenrod;
  cursor: url(../assets/img/cursors/pointer.cur), auto;
}
.fa-refresh:hover{
  animation: pop 0.3s linear 1;
}
.rst {
  -webkit-animation: spin 0.2s ease-in-out;
  -moz-animation: spin 0.2s ease-in-out;
  animation: spin 0.2s ease-in-out;
  animation-fill-mode: forwards;
  cursor: url(../assets/img/cursors/pointer.cur), auto;
}

.tools-cols {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex: 1;
}
.tools{
  max-height: 16vh;
}
.tool-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: var(--menu_color);
  padding: 5px;
  margin: 10px;
  cursor: url(../assets/img/cursors/pointer.cur), auto;
}
.tool-container button:hover{
  border: none;
  animation: pop 0.3s linear 1;
}
.title{
  padding: 0px 0px 0px 20px;
  font-size: 20px;
  max-height: 30px;
  background: var(--menu_dark);
  margin: 0 px 10px;
}
.music{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex: 0;
}
.music-buttons{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: var(--menu_color);
  padding: 20px;
  z-index: 130;
  width: 100%;
}
.music-buttons button{
  height: 35px;
  width: 35px;
  cursor: url(../assets/img/cursors/pointer.cur), auto;
  background: goldenrod;
  border: 1px solid var(--menu_dark);
  border-radius: 50%;
  transition: 1s;
}
.music-buttons button:hover{
  animation: pop 0.3s linear 1;
}
.volume-control {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: var(--menu_color);
  padding: 20px;
  padding-top: 0px;
  z-index: 130;
  width: 100%;
}
.reset{
  color: #fff;
}
/* screen game */
.game-screen {
  position: relative;
  width: 100%;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  z-index: 100;
  cursor: url(../assets/img/cursors/default.cur), auto;
}
/* default box = sky */
.box{
  color: white;
  background-color: transparent;
  border: none;
  width: 4%;
  height: 5%;
  transform: scale(0);
  transition: 0.3s;
}
.box.animate{
  transform: scale(1);
}
.box:hover{
  box-shadow: 0 0 5px #fff;
  border-radius: 3px;
  border: 1px solid white;
}
.box:focus {
  outline: none;
}
/* special tiles */
.ground {
  background: url(../assets/img/tiles/gnd.jpg) no-repeat center center / cover;
}
.wood{
  background: url(../assets/img/tiles/wood.jpg) no-repeat center center / cover;
}
.water{
  background: url(../assets/img/tiles/water.jpg) no-repeat center center / cover;
}
.metal{
  background: url(../assets/img/tiles/metal.jpg) no-repeat center center / cover;
}
.lava{
  background: url(../assets/img/tiles/lava.jpg) no-repeat center center / cover;
}
.ice{
  background: url(../assets/img/tiles/ice.jpg) no-repeat center center / cover;
}
.leaves{
  background: url(../assets/img/tiles/leaves.jpg) no-repeat center center / cover;
}
.grass{
  background: url(../assets/img/tiles/grass.jpg) no-repeat top center / cover;
}
.bush{
  background: url(../assets/imgtiles//bush.jpg) no-repeat top center / cover;
}
.gold{
  background: url(../assets/img/tiles/gold.jpg) no-repeat top center / cover;
}
.silver{
  background: url(../assets/img/tiles/silver.jpg) no-repeat top center / cover;
}
.diamond{
  background: url(../assets/img/tiles/diamond.jpg) no-repeat top center / cover;
}
.stone{
  background: url(../assets/img/tiles/stone.jpg) no-repeat top center / cover;
}
.tool.selected{
  border: 2px solid #000000;
  border-radius: 3px;
  background-color: rgb(199, 199, 199);
}
/* audio style */
.volume-control label{
  padding-bottom: 10px;
  cursor: url(../assets/img/cursors/default.cur), auto;
}
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100px;
  height: 10px;
  background: #ddd;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  cursor: url(../assets/img/cursors/pointer.cur), auto;
}
input[type="range"]:hover {
  opacity: 1;
  cursor: url(../assets/img/cursors/pointer.cur), auto;
}
/* WebKit browsers */
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: url(../assets/img/cursors/pointer.cur), auto;
  background: #2196F3;
 /* Track color */
  border-radius: 5px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: goldenrod;
 /* Thumb color */
  border: 1px solid brown;
  cursor: url(../assets/img/cursors/pointer.cur), auto;
  border-radius: 50%;
  margin-top: -5px;
 /* Center the thumb */
}
/* Mozilla browsers */
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: url(../assets/img/cursors/pointer.cur), auto;
  background: #2196F3;
 /* Track color */
  border-radius: 5px;
}
input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #4CAF50;
 /* Thumb color */
  cursor: url(../assets/img/cursors/pointer.cur), auto;
  border-radius: 50%;
}
/* Internet Explorer */
input[type="range"]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: url(../assets/img/cursors/pointer.cur), auto;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #2196F3;
 /* Track color */
  border-radius: 5px;
}
input[type="range"]::-ms-fill-upper {
  background: #2196F3;
 /* Track color */
  border-radius: 5px;
}
input[type="range"]::-ms-thumb {
  width: 20px;
  height: 20px;
  background: #4CAF50;
 /* Thumb color */
  cursor: url(../assets/img/cursors/pointer.cur), auto;
  border-radius: 50%;
  margin-top: 0px;
 /* Center the thumb */
}
#volumeRange{
  cursor: url(../assets/img/cursors/pointer.cur), auto;
}
.text-container {
  display: inline-flex;
  flex-direction: column;
  height: 3.7rem;
  overflow: hidden;
}
.text-container span {
  font-size: 40px;
  margin-bottom: 10px;
  height: 2.3rem;
  color: rgb(255, 255, 255);
}
.media-player{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: radial-gradient(circle at center in hsl longer hue, rgb(0, 0, 0) 0, rgb(87, 87, 87), rgb(0, 0, 0) 100%);
  z-index: 9999;
  display: none;
}
.media-player.show {
  animation: fadeIn 1s ease-out;
}

.media-player.hide {
  animation: fadeOut 1s ease-out;
}
#minecraftTrailer{
  border-radius: 10px;
}
.trailer-title{
  font-size: 30px;
  color: white;
  margin-bottom: 20px;
}
.close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: url(../assets/img/cursors/pointer.cur), auto;
  z-index: 1;
}

.plus-one {
  color: green;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  -webkit-animation-name: translation;
 /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1s;
 /* Safari 4.0 - 8.0 */
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-name: translation;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 999;
}

.window {
  position: fixed;
  top: 27vh;
  left: 87vw;
  width: 550px;
  min-height: 650px;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  z-index: 9999;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  transition: top 0.5s 0s cubic-bezier(0.1, 1.2, 0.3, 1), transform 0.5s 0s cubic-bezier(0.1, 1.2, 0.3, 1), width 0.5s 0.5s cubic-bezier(0.1, 1.2, 0.3, 1), opacity 0.3s;
}

.window .window-controls {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  height: 30px;
  width: 60px;
}
.window .maximize {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: -30px;
  opacity: 0;
  left: 0;
  z-index: 9;
  width: 200px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: rgb(101, 156, 211);
  cursor: url(../assets/img/cursors/pointer.cur), auto;
  transition: opacity 0.3s 0.5s, top 0s 0.8s;
}
.window .close,
.window .minimize {
  opacity: 0.5;
  cursor: url(../assets/img/cursors/pointer.cur), auto;
}
.window .window-controls .close:hover,
.window .window-controls .minimize:hover {
  opacity: 0.7;
}
.window .window-controls .close:active,
.window .window-controls .minimize:active {
  opacity: 1;
}
.window .window-controls .close {
  width: 30px;
  height: 30px;
  float: left;
}
.window .window-controls .close:before,
.window .window-controls .close:after {
  position: absolute;
  content: "";
  width: 12px;
  height: 2px;
  background-color: white;
  position: absolute;
  border-radius: 2px;
  top: 14px;
  left: 9px;
}
.window .window-controls .close:before {
  transform: rotate(45deg);
}
.window .window-controls .close:after {
  transform: rotate(-45deg);
}
.window .window-controls .minimize {
  width: 30px;
  height: 30px;
  float: left;
  position: relative;
}
.window .window-controls .minimize:before,
.window .window-controls .minimize:after {
  position: absolute;
  content: "";
  width: 10px;
  height: 2px;
  background-color: white;
  position: absolute;
  border-radius: 2px;
  top: 14px;
  left: 10px;
}
.window .window-controls .minimize:before {
  transform: translateX(-3px) rotate(45deg);
}
.window .window-controls .minimize:after {
  transform: translateX(3px) rotate(-45deg);
}

.window .window-content {
  position: absolute;
  margin: 0px 10px;
  top: 0;
  right: 0;
  width: 470px;
  height: 500px;
}
.window .window-content:before {
  position: absolute;
  content: "";
  width: 460px;
  height: 200px;
  background-color: white;
  top: 20px;
  left: 20px;
  opacity: 0.05;
  border-radius: 5px;
}
.window .window-content:after {
  position: absolute;
  content: "";
  width: 380px;
  height: 10px;
  background-color: white;
  top: 240px;
  left: 60px;
  opacity: 0.05;
  border-radius: 5px;
}

.minimized .window {
  top: 100%;
  transform: translate(-50%, -30px);
  width: 200px;
  opacity: 1;
  background: white;
}
.minimized .window:hover {
  opacity: 1;
}
.minimized .maximize {
  background: linear-gradient(90deg, #c4c4c4 0%, #ffffff 100%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: #010101;
  top: 0;
  opacity: 1;
  transition: opacity 0.3s 0.5s, top 0s 0.5s;
}

.text {
  position: fixed;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(350px, -200px);
  z-index: 10;
  padding-left: 20px;
}
.text .title {
  font-size: 20px;
  line-height: 20px;
  display: block;
  margin-bottom: 5px;
}
.text .name {
  display: block;
  opacity: 0.5;
}

/* Leadboard */
.leadboard{
  position: absolute;
  top: -100vh;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #4242a7 0%, #000000 100%);
  padding: 30px;
  animation: slide-in-top 0.5s ease-out;
  z-index: 9999;
}
#lead-header {
  background: white;
  width: 35rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 2rem;
}

.share {
  width: 4.5rem;
  height: 3rem;
  background-color: #f55e77;
  border: 0;
  border-bottom: 0.2rem solid #c0506a;
  border-radius: 2rem;
  cursor: url(../assets/img/cursors/pointer.cur), auto;
}

.share:active {
  border-bottom: 0;
}

.share i {
  color: #fff;
  font-size: 2rem;
}

h1 {
  font-family: "Rubik", sans-serif;
  font-size: 1.7rem;
  color: #141a39;
  text-transform: uppercase;
  cursor: url(../assets/img/cursors/default.cur), auto;
}

#leaderboard {
  width: 35rem;
  background: rgba(255, 255, 255, 0.7);
  position: relative;
}

table {
  width: 35rem;
  border-collapse: collapse;
  table-layout: fixed;
  color: #141a39;
  cursor: url(../assets/img/cursors/default.cur), auto;
}

tr {
  transition: all 0.2s ease-in-out;
  border-radius: 0.2rem;
}

tr:not(:first-child):hover {
  background-color: #fff;
  transform: scale(1.1);
  -webkit-box-shadow: 0px 5px 15px 8px #e4e7fb;
  box-shadow: 0px 5px 15px 8px #e4e7fb;
}

tr:nth-child(odd) {
  background-color: #f9f9f9;
}

tr:nth-child(1) {
  color: #fff;
}

td {
  height: 5rem;
  font-family: "Rubik", sans-serif;
  font-size: 1.4rem;
  padding: 1rem 2rem;
  position: relative;
}

.number {
  width: 1rem;
  font-size: 2.2rem;
  font-weight: bold;
  text-align: left;
}

.name {
  text-align: left;
  font-size: 1.2rem;
}

.points {
  font-weight: bold;
  font-size: 1.3rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.points:first-child {
  width: 10rem;
}

.gold-medal {
  height: 3rem;
  margin-left: 1.5rem;
}

.ribbon {
  width: 37rem;
  height: 5.5rem;
  top: -0.5rem;
  background-color: #5c5be5;
  position: absolute;
  left: -1rem;
  -webkit-box-shadow: 0px 15px 11px -6px #7a7a7d;
  box-shadow: 0px 15px 11px -6px #7a7a7d;
}

.ribbon::before {
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  bottom: -0.8rem;
  left: 0.35rem;
  transform: rotate(45deg);
  background-color: #5c5be5;
  position: absolute;
  z-index: -1;
}

.ribbon::after {
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  bottom: -0.8rem;
  right: 0.35rem;
  transform: rotate(45deg);
  background-color: #5c5be5;
  position: absolute;
  z-index: -1;
}

#buttons {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.exit {
  width: 11rem;
  height: 3rem;
  font-family: "Rubik", sans-serif;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #7e7f86;
  border: 0;
  background-color: #fff;
  border-radius: 2rem;
  cursor: url(../assets/img/cursors/pointer.cur), auto;
}

.exit:hover {
  border: 0.1rem solid #5c5be5;
}

.continue {
  width: 11rem;
  height: 3rem;
  font-family: "Rubik", sans-serif;
  font-size: 1.3rem;
  color: #fff;
  text-transform: uppercase;
  background-color: #5c5be5;
  border: 0;
  border-bottom: 0.2rem solid #3838b8;
  border-radius: 2rem;
  cursor: url(../assets/img/cursors/pointer.cur), auto;
}

.continue:active {
  border-bottom: 0;
}

/* Tooltip */
.tooltip-container {
  position: relative;
  display: inline-block;
}
.tooltip {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
  padding: 10px;
  background-color: white;
  color: black;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  z-index: 1000;
  border: 1px solid #333;
}

.tooltip::after {
  content: '';
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent rgb(218, 218, 218) transparent;
}

.leadboard.show {
  display: flex;
  top: 20vh;
  animation: slide-in-top 0.5s ease-out;
}

.leadboard.hide {
  top: -100vh;
  animation: slide-out-up 0.5s ease-out;
}

.border, .border-glow{
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden; 
  z-index: 0;
	border-radius: 10px;
}

.border-glow{
  overflow: hidden;
  filter: blur(20px);
}

.border:before, .border-glow:before {
  content: '';
  z-index: -2;
  text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(0deg);
  position: absolute;
	width: 1000px;
	height: 1000px;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-image: conic-gradient(rgba(0,0,0,0), #4894f8, rgba(0,0,0,0) 25%);
	animation: rotate 2s linear infinite;
}

.border:after {
	content: '';
	position: absolute;
	z-index: -1;
	left: 5px;
	top: 5px;
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	background: #292a2e;
	border-radius: 7px;
}

.fa-cog:hover {
  animation: spin 2s linear infinite;
}

.fa-music:hover {
  animation: arrows-alt 1s cubic-bezier(.36,.07,.57,.99) infinite;
  transform-origin: center;
}

.fa-gamepad:hover {
  animation: times 1s cubic-bezier(.36,.07,.57,.99) infinite;
}

.fa-keyboard-o:hover {
  animation: italic 0.45s cubic-bezier(.36,.07,.57,.99) infinite;
}

.fa-television:hover {
  animation: lock 1s cubic-bezier(.36,.07,.57,.99) infinite;
}

.fa-globe:hover {
  animation: magic 1s cubic-bezier(.36,.07,.57,.99) infinite;
}

.map-generation {
  color: rgb(77, 255, 1);
}


/* ANIMATIONS */
@-moz-keyframes spin {
  100% {-moz-transform: rotate(360deg);}
}
@-webkit-keyframes spin {
  100% {-webkit-transform: rotate(360deg);}
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
 }
}
@keyframes pop {
  50% {transform: scale(1.4);}
}
@keyframes fadeIn {
  from { 
    opacity: 0;
    display: none; 
  }
  to {
    display: flex; 
    opacity: 1;
  }
}
@keyframes fadeOut {
  from { 
    opacity: 1;
    display: flex; 
  }
  to {
    opacity: 0;
    display: none; 
  }
}
@keyframes translation {
  from {
    top: 0;
    opacity: 100%;
  }
  to {
    opacity: 0%;
    top: -10em;
    }
}
@keyframes moveUp {
  0% {transform: translateY(0);}
  100% {transform: translateY(-3.2rem);}
}
@keyframes rotate {
	100% {transform: translate(-50%, -50%) rotate(1turn);}
}
@keyframes slide-in-top {
  0% {top: -100vh;}
  100% {top: 20vh;}
}
@keyframes slide-out-up {
  0% {top: 20vh;}
  100% {top: -100vh;}
}
@keyframes spin {
  0% { transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
@keyframes arrow-right {
	0% {transform: translateX(0);}
	33% {transform: translateX(-5px);}
	66% {transform: translateX(5px);}
	100% {transform: translateX(0);}
}
@keyframes arrows-alt {
	0% {transform: translate(0, 0);}
	20% {transform: translate(-5px, 5px);}
	40% {transform: translate(-5px, -5px);}
	60% {transform: translate(5px, 5px);}
	80% {transform: translate(5px, -5px);}
	100% {transform: translate(0, 0);}
}
@keyframes expand {
	0% {transform: translate(0, 0);}
	25% {transform: translate(-5px, 5px);}
	50% {transform: scale(2) translate(0, 0);}
	75% {transform: translate(5px, -5px);}
	100% {transform: translate(0, 0);}
}
@keyframes refresh {
	from {transform: rotate(0);}
	to {transform: rotate(360deg);}
}
@keyframes heart {
	0% {transform: scale(1.5);}
	20% {transform: scale(2);}
	30% {transform: scale(1.5);}
	40% {transform: scale(2);}
	100% {transform: scale(1.5);}
}
@keyframes undo {
	0% {transform: translateX(0) rotate(0);}
	33% {transform: translateX(10px) rotate(0);}
	66% {transform: translateX(-10px) rotate(-360deg);}
	100% {transform: translateX(0) rotate(-360deg);}
}
@keyframes italic {
	0% {transform: skewX(0);}
	50% {transform: skewX(12deg);}
	100% {transform: skewX(0);}
}
@keyframes cog {
	0% {transform: rotate(0);}
	10% {transform: rotate(45deg);}
	17% {transform: rotate(45deg);}
	20% {transform: rotate(90deg);}
	27% {transform: rotate(90deg);}
	30% {transform: rotate(135deg);}
	37% {transform: rotate(135deg);}
	40% {transform: rotate(180deg);}
	47% {transform: rotate(180deg);}
	50% {transform: rotate(225deg);}
	57% {transform: rotate(225deg);}
	60% {transform: rotate(270deg);}
	67% {transform: rotate(270deg);}
	70% {transform: rotate(315deg);}
	77% {transform: rotate(315deg);}
	80% {transform: rotate(360deg);}
	100% {transform: rotate(360deg);}
}
@keyframes wrench {
	0% {transform: rotate(0);}
	20% {transform: rotate(30deg);}
	30% {transform: rotate(-20deg);}
	50% {transform: rotate(30deg);}
	60% {transform: rotate(-20deg);}
	100% {transform: rotate(0);}
}
@keyframes mouse-pointer {
	0% {transform: scale(1.5);}
	20% {transform: scale(1.5);}
	22.5% {transform: scale(1.2);}
	32.5% {transform: scale(1.2);}
	35% {transform: scale(1.5);}
	100% {transform: scale(1.5);}
}
@keyframes magic {
	0% {transform: translate(0, 0) rotate(0);}
	10% {transform: translate(-5px, 2.5px) rotate(-10deg);}
	20% {transform: translate(-10px, 0) rotate(-20deg);}
	30% {transform: translate(-5px, -2.5px) rotate(-30deg);}
	40% {transform: translate(0, 0) rotate(-20deg);}
	50% {transform: translate(5px, 2.5px) rotate(-10deg);}
	60% {transform: translate(10px, 0) rotate(0);}
	70% {transform: translate(5px, -2.5px) rotate(10deg);}
	100% {transform: translate(0, 0) rotate(0);}
}
@keyframes lock {
	0% {transform: translateY(0);}
	20% {transform: translateY(-5px);}
	30% {transform: translateY(5px);}
	50% {transform: translateY(-5px);}
	60% {transform: translateY(5px);}
	100% {transform: translateY(0);}
}
@keyframes unlock {
	0% {transform: rotate(-15deg);}
	15% {transform: rotate(-40deg);}
	30% {transform: rotate(5deg);}
	45% {transform: rotate(-30deg);}
	60% {transform: rotate(-5deg);}
	75% {transform: rotate(-20deg);}
	90% {transform: rotate(-15deg);}
	100% {transform: rotate(-15deg);}
}
@keyframes hourglass {
	0% {transform: rotate(0);}
	35% {transform: rotate(180deg);}
	65% {transform: rotate(180deg);}
	100% {transform: rotate(0);}
}
@keyframes eraser {
	0% {transform: translate(0, 0);}
	15% {transform: translate(-10px, -5px);}
	30% {transform: translate(-10px, 5px);}
	45% {transform: translate(-5px, -5px);}
	60% {transform: translate(-5px, 5px);	}
	75% {transform: translate(0, 0);}
	100% {transform: translate(10px, 0);}
}
@keyframes rocket {
	0% {transform: translate(0, 0);	opacity: 1;}
	5% {transform: translate(2px, 0);	opacity: 1;}
	10% {transform: translate(1px, -2px); opacity: 1;}
	15% {transform: translate(3px, -1px); opacity: 1;}
	20% {transform: translate(2px, -3px); opacity: 1;}
	25% {transform: translate(4px, -2px); opacity: 1;}
	50% {transform: translate(10px, -10px); opacity: 0;}
	51% { transform: translate(-10px, 10px);	opacity: 0;}
	100% {transform: translate(0, 0); opacity: 1;}
}
@keyframes times {
	0% {transform: translateX(0);}
	15% {transform: translateX(5px);}
	30% {transform: translateX(-5px);}
	45% {transform: translateX(3px);}
	60% {transform: translateX(-3px);}
	75% {transform: translateX(0);}
	100% {transform: translateX(0);}
}
@keyframes battery {
	0% {opacity: 1;}
	50% {opacity: 0;}
	100% {opacity: 0;}
}

/* RESPONSIVE */
@media (max-width: 740px) {
  * {font-size: 70%;}
}
@media (max-width: 500px) {
  * {font-size: 55%;}
}
@media (max-width: 390px) {
  * {font-size: 45%;}
}